<app-title [titulo]="'Usuário'" [botaoListar]="false"></app-title>

<div class="card rounded shadow-sm">
  <form [formGroup]="userForm">
    <div class="p-3">
      <div class="row">

        <div class="form-group col-md-6">
          <label>Nome</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Nome">
        </div>

        <div class="form-group col-md-6">
          <label>CPF</label>
          <input type="text" class="form-control" formControlName="cpf" placeholder="CPF">
        </div>

        <div class="form-group col-md-6">
          <label>Data de nascimento</label>
          <input type="text" class="form-control" bsDatepicker [bsConfig]="bsConfig" formControlName="dateOfBirth" placeholder="01/01/0001">
        </div>

        <div class="form-group col-md-6">
          <label>Login</label>
          <input type="text" class="form-control" formControlName="login" placeholder="Login" [readonly]="true"
            style="background-color: #f2f2f2; cursor: not-allowed;">
        </div>

        <div class="form-group col-md-6">
          <label>Senha</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Senha">
        </div>

      </div>
    </div>
  </form>
</div>

<div class="card rounded shadow-sm mt-4">
  <form [formGroup]="addressForm">
    <div class="p-3">
      <div class="row">

        <div class="form-group col-md-6">
          <label>Rua/Avenida</label>
          <input type="text" class="form-control" formControlName="streetAvenue" placeholder="Rua/Avenida">
        </div>

        <div class="form-group col-md-6">
          <label>Bairro</label>
          <input type="text" class="form-control" formControlName="district" placeholder="Bairro">
        </div>

        <div class="form-group col-md-6">
          <label>CEP</label>
          <input type="text" class="form-control" formControlName="zipCode" placeholder="CEP">
        </div>

        <div class="form-group col-md-6">
          <label>Número</label>
          <input type="text" class="form-control" formControlName="number" placeholder="Número">
        </div>

        <div class="form-group col-md-6">
          <label>Complemento</label>
          <input type="text" class="form-control" formControlName="complement" placeholder="Complemento">
        </div>

        <div class="form-group col-md-6">
          <label>Estado</label>
          <input type="text" class="form-control" formControlName="state" placeholder="Estado">
        </div>

        <div class="form-group col-md-6">
          <label>Cidade</label>
          <input type="text" class="form-control" formControlName="city" placeholder="Cidade">
        </div>

      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border" routerLink="/home">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" (click)="save()">
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
